// app global css in SCSS form

.safe-pt {
    padding-top: max(48px, calc(var(--safe-top) + 16px)) !important;
}
.safe-pb {
    padding-bottom: var(--safe-bottom) !important;
}
.safe-mt {
    margin-top: max(48px, calc(var(--safe-top) + 16px)) !important;
}
.safe-mb {
    margin-bottom: var(--safe-bottom) !important;
}
.safe-full-height{
    height: calc(100vh - max(48px, calc(var(--safe-top) + 16px))) !important;
    margin-top: max(48px, calc(var(--safe-top) + 16px)) !important;
}
.q-notifications__list--top {
    top: max(48px, calc(var(--safe-top) + 16px)) !important;
    z-index: 9999;
}
.text-break-all{
    word-break: break-all!important;
}
.fs-16 {
    font-size: 16px!important;
}
.fs-15 {
    font-size: 15px!important;
}
.fs-14 {
    font-size: 14px!important;
}
.fs-13{
    font-size: 13px!important;
}
.fs-12 {
    font-size: 12px!important;
}
.fs-11 {
    font-size: 12px!important;
    transform: scale(0.9);
}
.fs-10 {
    font-size: 12px!important;
    transform: scale(0.85);
}
.fs-9 {
    font-size: 12px!important;
    transform: scale(0.8);
}
.fs-8 {
    font-size: 12px!important;
    transform: scale(0.75);
}
.fs-7 {
    font-size: 12px!important;
    transform: scale(0.7);
}

// SetupPage css
.setup-stepper {
    .q-stepper__header {
        flex-wrap: nowrap !important;
        overflow-x: auto;
        justify-content: flex-start;
        .q-stepper__tab {
            padding: 12px 16px;
            min-width: auto;
            flex-shrink: 0;
        }
    }
    .q-stepper__step-inner {
        padding: 12px 24px;
    }
}
.q-field--filled.q-field--readonly {
    .q-field__control {
        &:before {
            border-bottom: 1px solid #d0d0d0;
        }
    }
}

.simulated-focus{
    .q-field__control {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: var(--q-primary);
            transform: scaleX(1);
            transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
            z-index: 1;
        }

        .q-field__label {
            color: var(--q-primary);
        }
    }
}

.opacity-50 { opacity: 0.5; }
.opacity-60 { opacity: 0.6; }
.opacity-70 { opacity: 0.7; }
.opacity-80 { opacity: 0.8; }
.opacity-90 { opacity: 0.9; }
.btn-icon-14 .q-icon {
    font-size: 16px!important;
}

.bottom-menu {
    .q-tab__label {
        font-size: 12px;
        font-weight: 500;
        margin-top: 2px;
    }
    .q-tab__icon {
        font-size: 24px;
    }
}